.left-panel {
  position: fixed;
  left: 0;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 3rem;
  background-color: var(--primary-color);
}

.tagline-container {
  position: relative;
  max-width: 90%;
}

.tagline {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  color: var(--text-color);
  position: relative;
  z-index: 1;
  padding-top: 120px;
}

.sleeping-dog {
  position: absolute;
  top: -10px;
  left: -40px;
  width: 180px;
  height: auto;
  z-index: 2;
  object-fit: contain;
  transform: rotate(-5deg);
}

@media (max-width: 1200px) {
  .tagline {
    font-size: 28px;
    padding-top: 100px;
  }
  
  .sleeping-dog {
    width: 150px;
    top: -5px;
    left: -35px;
  }
}

@media (max-width: 768px) {
  .tagline {
    font-size: 22px;
    padding-top: 80px;
  }
  
  .sleeping-dog {
    width: 120px;
    top: 0px;
    left: -30px;
  }
}
